<div class="panel panel-default">
  <div class="panel-heading"><i class="glyphicon glyphicon-comment" style="margin-right: 8px;"></i>Mensaje {{#link-to "new-message" class="pull-right"}}<i class="glyphicon glyphicon-chevron-left" style="margin-right: 3px"></i>volver{{/link-to}}</div>
  <div class="panel-body">
    {{#if mensajeId}}
      <div class="form-group col-sm-12">
        {{#power-select
          class='form-control'
          onchange=(action "changeSalon")
          selected=mensaje.salon
          options=salones
        as |salon|
        }}
          {{salon.bloque}} - {{salon.numero}}
        {{/power-select}}
      </div>
    {{/if}}
    <div class="form-group col-sm-12">
      <label class="control-label">Fecha<i class="glyphicon glyphicon-calendar" style="margin-left: 5px;"></i></label>
      {{#if mensajeId}}
        {{input type="date" placeholder="cuándo" class='form-control' value=(moment now format='YYYY-MM-DD') }}
      {{else}}
       {{input type="date"  class='form-control' placeholder="Fecha" value=mensaje.date}}
      {{/if}}
    </div>
    <div class="form-group col-sm-12">
      <label class="control-label">Hora ⌚</label>
      {{input type="time" class='form-control' placeholder="Hora" value=mensaje.time}}
    </div>
    <div class="form-group col-sm-12">
      {{textarea class='form-control' value=mensaje.detalle cols="80" rows="6" placeholder="Detalle ☝"}}
    </div>
    <div class="form-group col-sm-12">
      {{input type="number" class='form-control' min=2 max=8 value=mensaje.duracion placeholder="Duracion ⌛"}}
    </div>
    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success pull-right" {{action "guardarMensaje" on="click"}}><i class="glyphicon glyphicon-floppy-disk" style="margin-right:6px;"></i>Guardar</button>
    </div>
  </div>
</div>
{{yield}}
