<ul>
  {{#unless session.isAuthenticated}}
    <li>{{#link-to "login"}}Soy docente{{/link-to}}</li>
  {{/unless}}
  {{#if session.isAuthenticated}}
    <li>{{#link-to "new-message"}}Dejar mensaje{{/link-to}}</li>
    <li>{{#link-to "list-messages"}}Mis mensajes{{/link-to}}</li>
    <li>{{#link-to "free-room"}}Buscar salon libre{{/link-to}}</li>
    <li><a href="#" {{action "logout" on="click"}}>Salir</a></li>
  {{/if}}

</ul>
{{yield}}
