{{#if bloques}}
  <div class="page-header">
  <h1>Bloques</h1>
  <small>Seleccione primero en qué bloque está el salón</small>
</div>
<div class="list-group">
    {{#each bloques as |bloque|}}
      {{#link-to "listas-salones" bloque class="list-group-item list-group-item-info list-short"}}{{bloque}}<i class="glyphicon glyphicon-chevron-right pull-right" style="margin-right: 10px;"></i>{{/link-to}}
    {{/each}}
</div>
{{else}}
  <div class="col-sm-12" style="margin-top:20%"><br><br><br>
    <div class="well text-center" style="z-index: 15;position: relative;">
      <h3 style="font-family: Handlee,sans-serif">Cargando Bloques...</h3>
      <br>
    </div>
  </div>
  <div style="z-index:-1;position: absolute; width: 110%;height: 110%;left: -10%;top:-10%;background-color:rgba(0,0,0,0.5);"></div>
{{/if}}
{{yield}}
