<div class="page-header">
  <h1>Salones</h1>
  <small>Seleccione ahora el salón</small>
  {{#link-to "new-message" class="pull-right"}}<i class="glyphicon glyphicon-chevron-left" style="margin-right: 3px"></i>volver{{/link-to}}
</div>
<div class="list-group">
  {{#each salones as |salon|}}
    {{#link-to "create-message" salon.id class="list-group-item list-group-item-info"}}{{bloque}} - {{salon.numero}}<i class="glyphicon glyphicon-chevron-right pull-right" style="margin-right: 10px;"></i>{{/link-to}}
  {{/each}}
</div>
{{yield}}
