{{#if mensajes}}
{{#each mensajes as |mensaje|}}
  <div class="panel panel-default">
    <div class="panel-heading" style="font-family: Muli, sans-serif;background-color: #e24b31;color: #fff"><i class="glyphicon glyphicon-envelope"></i>
      &nbsp;
      {{#bs-dropdown as |dd|}}
        {{#dd.button }}<span class="caret"></span>{{/dd.button}}
      {{#dd.menu as |menu| }}
        {{#menu.item}}
          {{#menu.link-to "duplica-mensaje" mensaje.id }}<i class="glyphicon glyphicon-repeat" style="margin-right: 3px"></i>Republicar{{/menu.link-to}}
          {{#menu.link-to "elimina-mensaje" mensaje.id }}<i class="glyphicon glyphicon-trash" style="margin-right: 3px"></i>Eliminar{{/menu.link-to}}
        {{/menu.item}}
      {{/dd.menu}}
      {{/bs-dropdown}}
    </div>
    <div class="panel-body">
      <strong class="muli">{{mensaje.detalle}}</strong><br>
      <small class="muli">{{mensaje.fechaVisibilidad}} durante {{mensaje.duracion}} horas</small>
      <br>
      <small class="muli">Salon: {{mensaje.salon.bloque}}-{{mensaje.salon.numero}}</small>
    </div>
  </div>
{{/each}}
{{else}}
  {{#if sinMensajes}}
    <div class="col-sm-12" style="margin-top:20%"><br><br><br>
      <div class="well text-center" style="z-index: 15;position: relative;">
        <h3 style="font-family: Handlee,sans-serif">Sin mensajes</h3>
        <br>
      </div>
    </div>
    <div style="z-index:-1;position: absolute; width: 110%;height: 110%;left: -10%;top:-10%;background-color:rgba(0,0,0,0.5);"></div>
  {{else}}
  <div class="col-sm-12" style="margin-top:20%"><br><br><br>
    <div class="well text-center" style="z-index: 15;position: relative;">
      <h3 style="font-family: Handlee,sans-serif">Cargando Mensajes...</h3>
      <br>
    </div>
  </div>
  <div style="z-index:-1;position: absolute; width: 110%;height: 110%;left: -10%;top:-10%;background-color:rgba(0,0,0,0.5);"></div>
  {{/if}}
{{/if}}

