<div class="panel panel-default">
  <div class="panel-heading">Iniciar Sesión</div>
  <div class="panel-body">
    <form class="form-horizontal" {{action 'authenticate' on='submit'}}>
        <div class="form-group col-sm-12">
          {{input class="form-control col-sm-12" value=identification placeholder="correo@correo.udistrital.edu.co" disabled=isAttemptingLogin}}
        </div>
        <div class="form-group col-sm-12">
          {{input class="form-control col-sm-12" type='password' placeholder="contraseña" value=password disabled=isAttemptingLogin}}
        </div>
      <hr/>
      <button type="submit" class="btn btn-success pull-right"><i class="glyphicon glyphicon-log-in" style=" margin-right: 6px;"></i>Continuar</button>
      {{#link-to 'index' class="btn btn-warning"}}Cancelar{{/link-to}}
    </form>
  </div>
  <div class="medium-2 columns"></div>
</div>

{{yield}}
