{{#if salones}}
  {{#each salones as |salon|}}
  <div class="panel">
    <div class="panel-body">
      <h3>{{salon.bloque}}-{{salon.numero}} {{#link-to "take-room" salon.idFalso}}<i style="margin-left: 10px" class="glyphicon glyphicon-flag text-danger pull-right"></i>{{/link-to}}  &#09; {{#link-to "show-schedule" salon.idFalso 'false'}}<i class="glyphicon glyphicon-calendar pull-right text-info"></i>{{/link-to}}</h3>
    </div>
  </div>
  <br>
  {{/each}}
  <br>
{{else}}
  <div class="col-sm-12" style="margin-top:20%"><br><br><br>
    <div class="well text-center" style="z-index: 15;position: relative;">
      <h3 style="font-family: Handlee,sans-serif">Buscando salones libres...</h3>
      <br>
    </div>
  </div>
  <div style="z-index:-1;position: absolute; width: 110%;height: 110%;left: -10%;top:-10%;background-color:rgba(0,0,0,0.5);"></div>
{{/if}}
