<div class="list-group-item list-group-item-success list-short" style="height: 135px "><b>Listo!</b>
  <p>Este salón no se mostrará libre hasta el siguiente cambio de clase ☺</p>
  {{#link-to "index" class="btn btn-warning pull-right"}}Ir al inicio{{/link-to}}
</div>