{{# if days}}
{{#bs-tab as |tab|}}
{{#each days as |weekDay key|}}
  {{#tab.pane title=weekDay }}
    {{#if (it-exists parsedHours weekDay)}}
      {{#each (show-array parsedHours weekDay) as |h|}}
        <div class="panel">
          <div class="panel-body" style="padding: 0;overflow-y: scroll;display: flex;">
            <div class="hora">{{h.hora.time}}<br>
              <div class="meridian">{{h.hora.meridian}}</div>
            </div>
            <div class="class-info">
              {{h.asignaturaId.nombre}} <br>
              <span class="teacher-info">{{h.docente.nombre}}</span><br>
              <span class="group-info">Grupo {{h.asignaturaId.grupo}}</span>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="panel">
        <div class="panel-body" style="padding: 0;overflow-y: scroll;display: flex;">
          <div class="hora" style="padding:22px 10px 10px 10px">
            <div class="meridian">(˘︹˘)</div>
          </div>
          <div class="class-info">

            <span class="teacher-info">Sin actividades...</span><br>
          </div>
        </div>
      </div>
    {{/if}}
  {{/tab.pane}}
{{/each}}
{{/bs-tab}}
{{else}}
  <div class="col-sm-12" style="margin-top:20%"><br><br><br>
    <div class="well text-center" style="z-index: 15;position: relative;">
      <h3 style="font-family: Handlee,sans-serif">Cargando Horario...</h3>
      <br>
    </div>
  </div>
  <div style="z-index:-1;position: absolute; width: 110%;height: 110%;left: -10%;top:-10%;background-color: rgba(0,0,0,0.5);"></div>
{{/if}}
{{yield}}
